.hero-img {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height:60vh;
    position: relative;
}

.hero-img::before {
    content: "";
    background-image: url("https://media.istockphoto.com/id/1420039900/photo/cyber-security-ransomware-email-phishing-encrypted-technology-digital-information-protected.jpg?b=1&s=170667a&w=0&k=20&c=CnXO_hc7YtdR0CSVwE1bQFQrxBdR_qzfsfLuD8aKhfA=") ;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img h1 {
    font-size: 2.4rem;
}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width:640px){
    .hero-img h1 {
        font: size 2rem;
    }
}

.heading {
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}